<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="top-nav">
    <div class="app-name">FinBro Admin/Docs</div>
    <div class="top-nav-mid"></div>
    <!-- <button class="logout-button">Log Out</button> -->
</div>

<div class="main-container">
    <div class="sidebar">
        <button class="api-button" onclick="showSection('users-api')">Users</button>
        <button class="api-button" onclick="showSection('accounts-api')">Accounts</button>
    </div>
    <div class="main-content">

        <div id="users-api" class="api-section">

            <h2>User API</h2>
            <p><strong>http://testvps.us.to/api/users</strong></p>

            <div class="accordion">

                <div class="accordion-item">
                    <button class="accordion-button"><strong>PUT</strong> /addUser</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/addUser</p>
                        <p><strong>HTTP Method: </strong>PUT</p>
                        <p><strong>Description: </strong>Creates a new User object and stores it in the database</p>
                        <p><strong>Request Body Example:</strong></p>
                        <pre>
{
    "name": "Emily",
    "surname": "Brown",
    "age": 24,
    "username": "emily.b",
    "email": "emily.b@example.com",
    "password": "hashed_password3"
}
                            </pre>
                        <p><strong>Response Example:</strong></p>
                        <pre>
{
    "id": 3,
    "name": "Emily",
    "surname": "Brown",
    "age": 24,
    "username": "emily.b",
    "email": "emily.b@example.com",
    "password": "hashed_password3"
}
                            </pre>
                        <p>* id field not needed in request. If set, will be ignored</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button"><strong>GET </strong>/allUsers</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/allUsers</p>
                        <p><strong>HTTP Method: </strong>GET</p>
                        <p><strong>Description: </strong>Returns a list of all User objects</p>
                        <p><strong>Request URL example:</strong></p>
                        <pre>
http://testvps.us.to/api/users/allUsers
                            </pre>
                        <p><strong>Response Example:</strong></p>
                        <pre>
[
    {
        "id": 1,
        "name": "Alice",
        "surname": "Johnson",
        "age": 28,
        "username": "alice.j",
        "email": "alice.j@example.com",
        "password": "hashed_password1"
    },
    {
        "id": 2,
        "name": "Bob",
        "surname": "Smith",
        "age": 35,
        "username": "bob.s",
        "email": "bob.s@example.com",
        "password": "hashed_password2"
    },
    {
        "id": 3,
        "name": "Emily",
        "surname": "Brown",
        "age": 24,
        "username": "emily.b",
        "email": "emily.b@example.com",
        "password": "hashed_password3"
    }
]
                            </pre>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button"><strong>GET</strong> /getByUserId/{userId}</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/getByUserId/{userId}</p>
                        <p><strong>HTTP Method: </strong>GET</p>
                        <p><strong>Description: </strong>Returns User object with given id</p>
                        <p><strong>Request Path Example:</strong></p>
                        <pre>
http://testvps.us.to/api/users/getByUserId/3
                            </pre>
                        <p><strong>Response Example:</strong></p>
                        <pre>
{
    "id": 3,
    "name": "Emily",
    "surname": "Brown",
    "age": 24,
    "username": "emily.b",
    "email": "emily.b@example.com",
    "password": "hashed_password3"
}
                            </pre>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button"><strong>GET</strong> /getByUsername/{username}</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/getByUsername/{username}</p>
                        <p><strong>HTTP Method: </strong>GET</p>
                        <p><strong>Description: </strong>Returns User object with given username</p>
                        <p><strong>Request Path Example:</strong></p>
                        <pre>
http://testvps.us.to/api/users/emily.b
                            </pre>
                        <p><strong>Response Example</strong></p>
                        <pre>
{
    "id": 3,
    "name": "Emily",
    "surname": "Brown",
    "age": 24,
    "username": "emily.b",
    "email": "emily.b@example.com",
    "password": "hashed_password3"
}
                            </pre>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button"><strong>GET</strong> /getByEmail/{email}</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/getByEmail/{email}</p>
                        <p><strong>HTTP Method: </strong>GET</p>
                        <p><strong>Description: </strong>Returns User object with given email</p>
                        <p><strong>Request Path Example:</strong></p>
                        <pre>
http://testvps.us.to/api/users/emily.b@example.com
                            </pre>
                        <p><strong>Response Example</strong></p>
                        <pre>
{
    "id": 3,
    "name": "Emily",
    "surname": "Brown",
    "age": 24,
    "username": "emily.b",
    "email": "emily.b@example.com",
    "password": "hashed_password3"
}
                            </pre>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button"><strong>POST</strong> /validateCredentials</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/validateCredentials</p>
                        <p><strong>HTTP Method: </strong>POST</p>
                        <p><strong>Description: </strong>Checks if a user exists with given email and password. Returns the User if matching credentials are found</p>
                        <p><strong>Request Body Example:</strong></p>
                        <pre>
{
    "email": "emily.b@example.com",
    "password": "hashed_password3"
}
                            </pre>
                        <p><strong>Response Example</strong></p>
                        <pre>
{
    "id": 3,
    "name": "Emily",
    "surname": "Brown",
    "age": 24,
    "username": "emily.b",
    "email": "emily.b@example.com",
    "password": "hashed_password3"
}
                            </pre>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button"><strong>PUT</strong> /updateUser</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/updateUser</p>
                        <p><strong>HTTP Method: </strong>PUT</p>
                        <p><strong>Description: </strong>Updates an existing User object</p>
                        <p><strong>Request Body Example:</strong></p>
                        <pre>
{
    "id": 3,
    "name": "New_Name",
    "surname": "New_Surname",
    "age": 30,
    "username": "new_Username",
    "email": "new_email@example.com",
    "password": "New_Password"
}
                            </pre>
                        <p><strong>Response Example:</strong></p>
                        <pre>
{
    "id": 3,
    "name": "New_Name",
    "surname": "New_Surname",
    "age": 30,
    "username": "new_Username",
    "email": "emily.b@example.com",
    "password": "New_Password"
}
                            </pre>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-button"><strong>DELETE</strong> /deleteById/{userId}</button>
                    <div class="accordion-content">
                        <p><strong>Path: </strong>/deleteById/{userId}</p>
                        <p><strong>HTTP Method: </strong>DELETE</p>
                        <p><strong>Description: </strong>Deletes User object with given id</p>
                        <p><strong>Request Path Example:</strong></p>
                        <pre>
http://testvps.us.to/api/users/deleteById/3
                            </pre>
                        <p><strong>Response Example:</strong></p>
                        <pre>
{
    "message": "User successfully deleted"
}
                            </pre>
                    </div>
                </div>

            </div>

        </div>

        <div id="accounts-api" class="api-section">

            <h2>Accounts API</h2>
            <p><strong>http://testvps.us.to/api/accounts/</strong></p>

            <div class="accordion-item">
                <button class="accordion-button"><strong>PUT</strong> /addAccount</button>
                <div class="accordion-content">
                    <p><strong>Path: </strong>/addAccount</p>
                    <p><strong>HTTP Method: </strong>PUT</p>
                    <p><strong>Description: </strong>Creates a new Account object and stores it in the database</p>
                    <p><strong>Request Body Example:</strong></p>
                    <pre>
{
    "name": "Alice Savings",
    "balance": 1000.00,
    "dateCreated": "2024-01-01 10:00:00",
    "minimumBalance": 500.00,
    "notes": "Primary savings account",
    "userId": 1,
    "categoryId": 1
}
                        </pre>
                    <p><strong>Response Example:</strong></p>
                    <pre>
{
    "id": 1,
    "name": "Alice Savings",
    "balance": 1000.00,
    "dateCreated": "2024-01-01 10:00:00",
    "minimumBalance": 500.00,
    "notes": "Primary savings account",
    "userId": 1,
    "categoryId": 1
}
                        </pre>
                    <p>* id field not needed in request. If set, will be ignored</p>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-button"><strong>GET</strong> /allAccounts</button>
                <div class="accordion-content">
                    <p><strong>Path: </strong>/allAccounts</p>
                    <p><strong>HTTP Method: </strong>GET</p>
                    <p><strong>Description: </strong>Returns list of all Account objects</p>
                    <p><strong>Request Example:</strong></p>
                    <pre>
http://testvps.us.to/accounts/allAccounts
                        </pre>
                    <p><strong>Response Example:</strong></p>
                    <pre>
[
    {
        "id": 1,
        "name": "Alice Savings",
        "balance": 1000.00,
        "dateCreated": "2024-01-01 10:00:00.0",
        "minimumBalance": 500.00,
        "notes": "Primary savings account",
        "userId": 1,
        "categoryId": 1
    },
    {
        "id": 2,
        "name": "Bob Checking",
        "balance": 1500.00,
        "dateCreated": "2023-02-01 12:00:00.0",
        "minimumBalance": null,
        "notes": "Main checking account",
        "userId": 2,
        "categoryId": null
    },
    {
        "id": 3,
        "name": "Emily Investment",
        "balance": 2000.00,
        "dateCreated": "2023-03-01 14:00:00.0",
        "minimumBalance": 1000.00,
        "notes": "Long-term investment account",
        "userId": 3,
        "categoryId": 4
    }
]
                        </pre>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-button"><strong>GET</strong> /getAccountById/{accountId}</button>
                <div class="accordion-content">
                    <p><strong>Path: </strong>/getByAccountId/{accountId}</p>
                    <p><strong>HTTP Method: </strong>GET</p>
                    <p><strong>Description: </strong>Returns account with matching id</p>
                    <p><strong>Request Path Example:</strong></p>
                    <pre>
http://testvps.us.to/api/accounts/getAccountById/1
                        </pre>
                    <p><strong>Response Example:</strong></p>
                    <pre>

{
    "id": 1,
    "name": "Alice Savings",
    "balance": 1000.00,
    "dateCreated": "2024-01-01 10:00:00.0",
    "minimumBalance": 500.00,
    "notes": "Primary savings account",
    "userId": 1,
    "categoryId": 1
}                       </pre>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-button"><strong>GET</strong> /getAllByUserId/{userId}</button>
                <div class="accordion-content">
                    <p><strong>Path: </strong>/getAllByUserId/{userId}</p>
                    <p><strong>HTTP Method: </strong>GET</p>
                    <p><strong>Description: </strong>Returns list of accounts matching User id</p>
                    <p><strong>Request Path Example:</strong></p>
                    <pre>
http://testvps.us.to/api/accounts/getAllByUserId/2
                        </pre>
                    <p><strong>Response Example:</strong></p>
                    <pre>

[
    {
        "id": 2,
        "name": "Bob Checking",
        "balance": 1500.00,
        "dateCreated": "2023-02-01 12:00:00.0",
        "minimumBalance": null,
        "notes": "Main checking account",
        "userId": 2,
        "categoryId": null
    },
    {
        "id": 6,
        "name": "Bob savings",
        "balance": 2000.00,
        "dateCreated": "2023-02-01 12:30:00.0",
        "minimumBalance": 100.00,
        "notes": "Main savings account",
        "userId": 2,
        "categoryId": null
    }
]                      </pre>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-button"><strong>PUT</strong> /updateAccount</button>
                <div class="accordion-content">
                    <p><strong>Path: </strong>/updateAccount</p>
                    <p><strong>HTTP Method: </strong>PUT</p>
                    <p><strong>Description: </strong>Updates an existing Account object</p>
                    <p><strong>Request Body Example:</strong></p>
                    <pre>
{
    "id": 2,
    "name": "New Account",
    "balance": 800.00,
    "dateCreated": "2023-02-13 12:30:00",
    "minimumBalance": 200,
    "notes": "Updated account",
    "userId": 2,
    "categoryId": null
}
                        </pre>
                    <p><strong>Response Example:</strong></p>
                    <pre>
{
    "id": 2,
    "name": "New Account",
    "balance": 800.00,
    "dateCreated": "2023-02-13 12:30:00",
    "minimumBalance": 200,
    "notes": "Updated account",
    "userId": 2,
    "categoryId": null
}
                        </pre>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-button"><strong>DELETE</strong> /deleteById/{accountId}</button>
                <div class="accordion-content">
                    <p><strong>Path: </strong>/deleteById/{accountId}</p>
                    <p><strong>HTTP Method: </strong>DELETE</p>
                    <p><strong>Description: </strong>Deletes Account with given id</p>
                    <p><strong>Request Path Example:</strong></p>
                    <pre>
http://testvps.us.to/api/account/deleteById/2                       </pre>
                    <p><strong>Response Example:</strong></p>
                    <pre>
{
    "message": Account successfully deleted
}
                        </pre>
                </div>
            </div>

        </div>

    </div>
</div>

<script src="script.js"></script>

</body>
</html>
